.details{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.intro{
font-size: 20px;
color: gray;
text-align: center;
font-style: italic;
}

img.intro{
width: 500px;
margin-left: 500px;
}

.special{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: yellow;
}

h1{
  text-align: center;
}
.heading{
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}
